
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.clear {
  clear: both;
}

.custom-hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

//login extension
@import "extensions/login";

// button styles
@import "extensions/buttons";

// footer extension
@import "extensions/footer";

// profile styling
@import "extensions/main";

// widgets like panels/modals/etc
@import "extensions/widgets";

// widgets contains all styles for game world
@import "game/world";