.btn-custom-primary {
  @extend .btn-default;

  border-radius: 0px;
  color: $text-secondary;
  background-color: $accent-primary;
  width: 100%;
  text-transform: uppercase;
  transition: 0.7s ease all;
  &:hover, &:focus {
    border-color: $accent-primary;
    color: darken($accent-primary, 20);
  }
}

.btn-blank.btn-custom-primary {
  @extend .btn-default;
  border-radius: 0px;
  color: darken($accent-primary, 40);
  background-color: lighten($accent-primary, 40);
  border-color: $accent-primary;
  width: 100%;
  text-transform: uppercase;
  transition: 0.7s ease all;
  &:hover {
    color: darken($accent-primary, 20);
  }
}

.btn-custom-secondary {
  @extend .btn-default;

  border-radius: 0px;
  color: $text-secondary;
  background-color: $accent-secondary;
  width: 100%;
  transition: 0.7s ease all;
  text-transform: uppercase;
  &:hover, &:focus {
    border-color: $accent-secondary;
    color: darken($accent-secondary, 20);
  }
}

.btn-blank.btn-custom-secondary {
  @extend .btn-default;
  border-radius: 0px;
  color: darken($accent-secondary, 40);
  background-color: lighten($accent-secondary, 40);
  border-color: $accent-secondary;
  width: 100%;
  text-transform: uppercase;
  transition: 0.7s ease all;
  &:hover {
    color: darken($accent-secondary, 20);
  }
}

/*
market buttons
 */

.btn-custom-danger {
  @extend .btn-default;

  border-radius: 0px;
  color: $text-secondary;
  background-color: #f44336;
  width: 100%;
  transition: 0.7s ease all;
  text-transform: uppercase;
  &:hover, &:focus {
    border-color: #f44336;
    color: darken(#f44336, 20);
  }
}

/*
Main profile buttons
*/

#extend-button h4 {
  color: $accent-primary;
  cursor: pointer;
  transition: 0.5s ease all;
  &:hover {
    color: lighten($accent-primary, 20);
  }
}
