#login-container, #register-container {
  min-height: 100vh;
  background-color: #B0BEC5;
}

#login-form-container, #register-form-container {
  border-radius: 0px;
  margin-top: 25%;
  box-shadow: 1px 4px 12px;
  margin-bottom: 60px;
}


/*login form*/

#login-form .form-control, #register-form .form-control {
  border-width: 0px 0px 1px 0px;
  background-color: #f5f5f5;
  box-shadow: none;
  border-radius: 0px;
}
