#sidebar-nav {
  width: 75px;
  min-height: 100vh;
  background-color: #212121;
  position: fixed;
  z-index: 100;
  box-shadow: 3px 2px 10px 3px;
}

.extends-box {
  height: 40px;
  transition: 0.5s ease all;
}

.extends-box:hover {
  background-color: darken(#212121, 5);
  color: #BDBDBD;
}

#sidebar-nav.extended {
  width: 250px;
}

#sidebar-nav #profile-info {
  height: 150px;
}

#sidebar-nav .extends-box .menu-box{
  display: none;
}

#sidebar-nav.extended .extends-box .menu-box{
  display: block;
  transition: 0.7s ease all;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

#sidebar-nav.extended .extends-box .menu-box:hover {
/*  background-color: darken(#212121, 5);
  color: #BDBDBD;*/
}

#sidebar-nav.extended .extends-box h4 {
  display: none;
}

#sidebar-nav .extends-box h4 {
  cursor: pointer;
  line-height: 50px;
  padding: 0px;
  margin: 0px;
}


#main-content {
  min-height: 100vh;
  background-color: #B0BEC5;
}

.menu-box-icon {
  width: 50px;
  float: left;
  padding-top: 6px;
}

.menu-box-text {
  width: 200px;
  line-height: 35px;
}