.panel {
  border-radius: 0;
  box-shadow: 1px 4px 12px;
}

.panel-success  > .panel-heading {
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;//lighten($accent-secondary, 50);
  border-color: $accent-secondary;
  color: $text-primary;
}

.well-selling .panel-success > .panel-heading {
  text-transform: uppercase;
  text-align: left;
  background-color: lighten($accent-secondary, 50);
  border-color: $accent-secondary;
  color: $text-primary;
}

.well-buying .panel-danger > .panel-heading {
  text-transform: uppercase;
  text-align: left;
  background-color: lighten(#f44336, 35);
  border-color: #f44336;
  color: $text-primary;
}


.panel-warning  > .panel-heading {
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;//lighten($accent-primary, 45);
  border-color: $accent-primary;
  color: $text-primary;
}


//// modals

.modal .modal-content {
  border-radius: 0;
}

.modal .modal-content .modal-header {
  background-color: $accent-secondary;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}


.danger-box {
  background-color: lighten(#f44336, 35);
  border-color: #f44336;
}

.success-box {
  background-color: lighten($accent-secondary, 50);
  border-color: $accent-secondary;
}