

// admin view game world
#world-map{
  overflow: scroll;
  padding-top: 20px;
  padding-bottom: 40px;
}

#world-map .world-zones {
  padding-left: 5px;
  padding-right: 5px;
  width: 3500px;
}

.world-region-block {
  width: 252px;
  height: 252px;
  float: left;
  border: 1px solid #212121;
}

.world-region-block .well {
  height: 100%;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding: 0;
  border: 0;
}

.small-region-box {
  float: left;
  width: 25px;
  height: 25px;
  border:1px solid #78909C;
}

//potato field in user view

.well-potato {
  @extend .well;
  border-radius: 0;
  height: 300px;
 // color: #fff;
}

.well-potato.no-potato {
  @extend .well-potato;
 // background-color: #A1887F;
  border-color: #A1887F;
  box-shadow: 1px 4px 12px #795548;
}

.well-potato.has-potato {
  @extend .well-potato;
 // background-color: #AED581;
  border-color: #AED581;
  box-shadow: 1px 4px 12px #8BC34A;
}

.well-potato.no-potato > hr {
  border-top-color: #A1887F;
}

.well-potato.has-potato > hr {
  border-top-color: #AED581;
}

.well-buying {
  @extend .well;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  min-height: 300px;
  border-color: #f44336;
  box-shadow: 1px 4px 12px #f44336;
  padding-left: 10px;
  padding-right: 10px;
}


.well-selling {
  @extend .well;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  min-height: 300px;
  border-color: #AED581;
  box-shadow: 1px 4px 12px #8BC34A;
}

.well-buying .row, .well-selling .row {
  margin-left: 0;
  margin-right: 0;
}